*{
    margin: 0px;
    padding: 0px;
}
nav{
    display: flex;
    justify-content: end;
    width: 100%;
    height: 70px;
    background-color: #27ABF5;
    align-items: center;
}
.role{
    display: flex;
    width: 200px;
    height: 50px;
    background-color: #24745C;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
}
.content{
    position: relative;
    display: flex;
    width: 100%;
}
.sidebar{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100vh;
    position: static;
    background-color: #02334F;
    box-sizing: border-box;
    padding-left: 50px;
    padding-top: 50px;
}
.sidebar li{
    margin-bottom: 30px;
    list-style-type: none;
    color: #FFFFFF;
    font-size: 20px;
}
.sidebar li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
}

.content .main{
    width: 100%;
}
.content .main h1{
        box-sizing: border-box;
            padding-top: 50px;
            padding-left: 150px;
    font-size: 45px;
    margin-bottom: 75px;
}
.content .main .tabel{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.content .main .tabel table{
    width: 80%;
    border-collapse: collapse;
}
.content .main .tabel table tr{
    height: 50px;
    text-align: center;
    border: 1px solid black;
}
.content .main .tabel table .sudah-bayar{
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: #949494;
    color: #ffffff;
    cursor: default;
}
.content .main .tabel table .belum-bayar{
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: #23C61F;
    color: #ffffff;
}
.content .main .tabel table .belum-bayar:hover{
    background-color: #158f13;
}

.content .main .tabel table .edit {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #3D61E1;
    color: #ffffff;
    margin-right: 17px;
}
.content .main .tabel table .edit:hover {
    background-color: #233c96;
}
.content .main .tabel table .delete {
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: #C03164;
    color: #ffffff;
}
.content .main .tabel table .delete:hover {
    background-color: #811e41;
}